@model Models.Nyhet

@if (TempData["msg"] != null)
{
    <div class="alert-info text-center" id="alert">
        <h4>
            @TempData["msg"]
        </h4>
    </div>
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("LagNyNyhet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    if (Model.Id != Guid.Empty)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Model.Id
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Tittel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Tittel, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tittel, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tekst, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Tekst, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tekst, "", new { @class = "text-danger" })
        </div>
    </div>
    if (Model.Id == Guid.Empty)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.BildeSrc, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="image" />
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.HiddenFor(e => e.Id)
            @{
    var btntext = Model.Id == Guid.Empty ? "Lagre nyhet" : "Lagre endring";
            }
            <input type="submit" class="btn btn-default" value="@btntext" />
        </div>
    </div>
    if (Model.Id != Guid.Empty)
    {
        @Html.ActionLink("Tilbake", "RedigerNyheter")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var alert = $('#alert');
            if (alert.length)
                setTimeout(function () { alert.hide(); }, 4000);
        });
    </script>
}
